{% extends "base.html" %}
{% block title %} Dashboard Page {% endblock%}


{% block content %}
<h1>Dashboard Page</h1>



<div>
    <canvas id="bar-chart" width="800" height="450"></canvas>
</div>
<div>
    <canvas id="line-chart" width="800" height="450"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<script>
    // Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: {{ product_name | safe}},
      datasets: [
        {
          label: "Sales per Product",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850,#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850,#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: {{ s_product | safe}}
        },
        {
          label: "Profit per Product",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: {{p_product | safe}}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Sales and Profit per Product'
      }
    }
});

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: {{ date | safe}},
    datasets: [{ 
        data: {{ p_day | safe}},
        label: "Profit per day",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: {{ s_day | safe}},
        label: "Sales per Day",
        borderColor: "#8e5ea2",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Profit and Sales per Day'
    }
  }
});
</script>



{% endblock %}