{% extends "base.html" %}
{% block title %} Login Page {% endblock%}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}


{% block content%}



<div class="login" style="margin-left: 35%; margin-top: 50px;">
    <form action="/login" method="post">
        <h1>LOG IN</h1>
        <label>Email</label>
        <input type="email" name="email">
        <lablel>Password</lablel>
        <input type="password" name="pass">
        <button>Submit</button>
    </form>
</div>


{% endblock %}