{% extends "base.html" %}
{% block title %} Products Page {% endblock%}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
{% endblock %}


{% block content%}

<h1>Produts Page</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Products
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">ADD PRODUCTS</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="p_name">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Buying price</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" name="b_price">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Selling price</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" name="s_price">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Stock_quantity</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" name="s_quantity">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Productsid</th>
        <th scope="col">productName</th>
        <th scope="col">buying_price</th>
        <th scope="col">selling_price</th>
        <th scope="col">stock_quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{product[0]}}</td>
        <td>{{product[1]}}</td>
        <td>{{product[2]}}</td>
        <td>{{product[3]}}</td>
        <td>{{product[4]}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>


{% endblock %}