{% extends "base.html" %}
{% block title %} Products Page {% endblock%}

{% block content%}

<h1>Produts Page</h1>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input type="text" class="form-control" name="p_name" id="exampleInputEmail1">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Buying Price</label>
        <input type="number" class="form-control" name="b_price" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Selling Price</label>
        <input type="number" class="form-control" name="s_price" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Stock Quantity</label>
        <input type="number" class="form-control" name="s_quantity" id="exampleInputPassword1">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>








{% endblock %}